@import '../../../../scss/vars.scss';

:host{
	background-color: $dark;
	color: $bodyColor;
	transition: 0.5s width, 0.5s top;
	left: 0;
}
aside{
	left: 0;
	width: 300px;
	bottom: 0;
	display: flex;
	flex-direction: column;
}
article{
	flex: 1 1 auto;
	overflow: auto;

	& > ul{
		padding: 0;
	}
}
footer{
	flex: 0 0 auto;
}


:host ::ng-deep {
	ul{
		list-style-type: none;
		padding-left: 15px;
		margin: 0;
	}
	li{
		margin: 0;
	}
}
	