@import '../../../../scss/vars.scss';

:host{
	height: 20rem;
	display: flex;
	overflow: hidden;
	flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 0px 5px 0 #666 inset;
    position: relative;
    //z-index: 170;
    background-color: #f4f5f6;
}
section pre{
	margin: 0;
	line-break: normal;
    white-space: pre-line;
    background:none;
}

pre::before {
	margin-right: 5px;
	margin-left: 5px;
}
.command::before{
	content: '>';
	color: $c1light;
}
.response::before{
	content: '<';
	color: $c2dark;
}