<div class="text-area">
	<div class="text-area-container">
		<section *ngFor="let codeResp of history">
			<pre class="command" [innerHtml]="codeResp.command"></pre>
			<pre class="response" [innerHtml]="codeResp.response"></pre>
		</section>
		<section *ngIf="liveCodingText !== null" class="currentCommand">
			<pre class="command">{{liveCodingText}}</pre>
		</section>
	</div>
</div>
<div class="point-list">
	<ng-container *ngFor="let code of lines; let i = index">
		<i *ngIf="!isCodeLineExecuted(code)" [ngClass]="getPointClass(code, i)" (click)="setFrame(i)"></i>
	</ng-container>
</div>