@import '../../../../scss/vars.scss';

section pre{
	margin: 0;
	line-break: normal;
	white-space: pre-wrap;
	background:none;
}
.text-area{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 30rem;
	overflow: auto;
	box-shadow: 0px 0px 5px 0 #666 inset;
	background-color: #f4f5f6;
}

pre::before {
	margin-right: 5px;
	margin-left: 5px;
}
.command::before{
	content: '>';
	color: $c1light;
}
.response::before{
	content: '<';
	color: $c2dark;
}

.point-list{
	$pointSize: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	i{
		margin: $pointSize 0;
		border: $pointSize solid transparent;
		border-radius: 100%;
		opacity: 0.5;
		transition: 0.5s all;
		cursor: pointer;
		
		&.type-setup{
			border-color: #666;
		}
		&.type-insert{
			border-color: cadetblue;
		}
		&.type-entity{
			border-color: pink;
		}
		&.type-update{
			border-color: green;
		}
		&.type-delete{
			border-color: red;
		}
		&.type-find{
			border-color: blue;
		}
		&.active{
			opacity: 1;
		}
	}
}



.t-c {
	color: red;
}