@import '../scss/vars.scss';

$collapseTime: 0.5s;

nav{
	display: flex;
	height: $normalHeaderHeight;
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	z-index: 1;
	transition: height $collapseTime;
	
	menu {
		flex: 1 1 100%;
		padding: 0;
		margin: 0;
		display: flex;
		transition: padding $collapseTime, margin $collapseTime, background-color $collapseTime;
		font-weight: 800;
		font-size: 1.5em;

		a {
			color: $bodyColor;
		}
		
		menuitem{
			flex: 1 1 auto;

			background-color: $c1light;
			
			&:first-child{
				background-color: $c2dark;
			}
			&#logoLink{
				background: linear-gradient(to right, $c2dark 0%,$c1light 100%);
				flex: 0 0 auto;

				img{
					width: $normalHeaderHeight;
					height: $normalHeaderHeight;
					transition: width $collapseTime, height $collapseTime;
				}
			}

			&, a{
				flex: 1 1 auto;
				display: flex;
			}
			a{
				justify-content: center;
				align-items: center;
			}
		}
	}
}

:host{
	display: block;
	padding-top: $normalHeaderHeight;
	transition: padding-top $collapseTime;
}

:host:not(.attop){
	padding-top: $reducedHeaderHeight;
	
	nav{
		height: $reducedHeaderHeight;
		#logoLink img {
			width: $reducedHeaderHeight;
			height: $reducedHeaderHeight;
		}
	}
}
:host.attop ::ng-deep app-tutorials {
	padding-top: 0;
}