<nav>
    <menu>
        <menuitem><a href="/api">API</a></menuitem>

        <menuitem id="logoLink"><a href="/"><img src="/assets/images/logo.svg" /></a></menuitem>

        <menuitem><a href="/tutorials"><span>Tutorials</span></a></menuitem>
        <menuitem><a href="/tutorials/simple-todo-app"><span>Simple ToDo app</span></a></menuitem>
        <menuitem><a href="/tutorials/fullstack-diaspora"><span>Fullstack Diaspora integration</span></a></menuitem>
	</menu>
</nav>
<router-outlet></router-outlet>
<app-cookie-consent></app-cookie-consent>