
<figure>
	<figcaption #tutoContent (mousewheel)="handleScroll($event)">
		<h1>Diaspora</h1>
		
		<ngx-md [path]="'/assets/tutorials/1.md'"></ngx-md>
		
		<i id="cursor" #cursor></i>
	</figcaption>
	<div id="resize-handle">
		<div id="toggle-text"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
	</div>
	<!--<img width="400" height="400" src=""/>-->
	<div id="canvas-container">
		<div id="canvas"></div>
	</div>
</figure>
<footer>
	<progress max="100" value="0" #progress>
		<!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
		<div class="progress-bar">
			<span style="width: 0%">0%</span>
		</div>
	</progress>
	<div class="player-buttons">
		<button id="toggle-autoplay" title="Toggle auto-play" class="player-button"><i class="fa fa-play" aria-hidden="true" aria-label="Toggle auto-play"></i></button>
		<button id="enable-fullscreen" title="Go fullscreen" class="player-button"><i class="fa fa-arrows-alt" aria-hidden="true" aria-label="Toggle auto-play"></i></button>
		<button id="toggle-sound" title="Toggle sound" class="player-button"><i class="fa fa-volume-off" aria-hidden="true" aria-label="Toggle sound"></i></button>
	</div>
</footer>