<section class="container">
	<h1>Diaspora</h1>
	<div class="row">
		<div class="column">
			<app-ioarea></app-ioarea>
		</div>
		<div class="column" *ngIf="this.storeContent !== false; then dataTable else noDataTable">
		</div>

		<ng-template #dataTable>
			<table class="column">
				<thead>
					<tr>
						<th>ID <em>(<a>EntityUID</a>)</em></th>
						<th>Title <em>(string)</em></th>
						<th>Status <em>(boolean)</em></th>
					</tr>
				</thead>
				<tr *ngFor="let item of this.storeContent">
					<td>{{item.id}}</td>
					<td>{{item.title}}</td>
					<td>{{item.status}}</td>
				</tr>
			</table>
		</ng-template>
		<ng-template #noDataTable>
			<div class="column" #noDataTable>
				Noop
			</div>
		</ng-template>
	</div>
	<div class="row install">
		<section class="column">
			<p>
				<code #installCmd>npm install @diaspora/diaspora</code>
			</p>
			<p>Latest version: <strong [innerHTML]="latestVersion"></strong></p>
		</section>
	</div>
	<section class="cards">
		<div class="row">
			<article class="column">
				<h3>Portable</h3>
				<p>Built for the <b>browser</b> &amp; the <b>server</b>, and easy to set up</p>
			</article>
			<article class="column">
				<h3>Adapter-based</h3>
				<p>One <b>query language</b> to rule them all. Easily switch between data stores.</p>
			</article>
		</div>
		<!--
		<div class="row">
			<article class="column">
				<h3>Multi-source</h3>
				<p>Because data is everywhere, make it coherent.</p>
			</article>
			<article class="column">
				<h3>Qux</h3>
			</article>
		</div>
		-->
	</section>
</section>
