// green
$c1light: #105239;
$c1light2: #42b983;
$c1dark: #0d3122;


// blue
$c2dark: #004D91;
$c2light: #1a94ff;

$c3light: #bb8c30;

$normalHeaderHeight: 100px;
$reducedHeaderHeight: 33px;

$bodyColor: #ddd;
$dark: #606c76;

$headerCollapseTime: 0.5s;




$prefix: "--"; //Prefix string for custom CSS properties

//Merges a variable name with $prefix
@function custom-property-name($name) {
    @return $prefix + $name;
}

// Defines a custom property
@mixin define-custom-property($name, $value) {
    #{custom-property-name($name)}: $value;
}
