@import '../../../../scss/vars.scss';

$exportedMargin: 5px;

$contentVPadding: 5px;
$contentHPadding: 20px;

article{
	box-shadow: 0 2px 4px 0px;
	margin: 10px 0;

	&.exported{
		border: 5px solid $c3light;

		section{
			padding: $contentVPadding $contentHPadding - $exportedMargin $contentVPadding - $exportedMargin;
		}
	}
}

h2{
	background-color: #eee;
	padding: 5px 10px;
	i{
		margin-right: 5px;
	}
}

section{
	padding: $contentVPadding $contentHPadding;
}

:host(.current){
	article{
		box-shadow: none;
		border: none;
	}
	h2{
		background-color: transparent;
	}
}


footer ::deep p{
	margin-bottom: 0;
}
