@import '../../../../scss/vars.scss';

$exportedMargin: 5px;

$contentVPadding: 5px;
$contentHPadding: 20px;

article{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	margin: 10px 0;

	&.exported{
		border: 1px solid $c2light;
		border-radius: 3px;
		margin: 40px 0;

		section{
			padding: $contentVPadding $contentHPadding - $exportedMargin $contentVPadding - $exportedMargin;
		}
	}
}

h2{
	background-color: #eee;
	padding: 5px 10px;
	border-radius: 3px;
	i{
		margin-right: 5px;
	}
}

section{
	padding: $contentVPadding $contentHPadding;
}

:host(.current){
	article{
		box-shadow: none;
		border: none;
	}
	h2{
		background-color: transparent;
	}
}
